.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 2rem auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
    font-size: 15px;
}

@keyframes textclip {
  to {
    background-position: 2rem ;
  }
}
#color{
/* filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease; */
cursor: pointer;

transition: 1s ease;
}
#color:hover{
    /* cursor: pointer;
    filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease; */


-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
filter: brightness(120%);
}
.card{
    cursor: pointer;
    transition: 1s ease;
}
.card:hover{
    transition: all 0.25s linear;
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
    transform: skewY(3deg);
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
    
}
.quote{
    transition: 1s ease;
}
.quote:hover{ 
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;

}

form{
    transition: 1s ease;
}
form:hover{
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}